@model IEnumerable<prjhouse.Models.Orderitem>

@{
    ViewData["Title"] = "cartview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>購物車一覽</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                房子名稱
            </th>

            <th>
                數量
            </th>
            <th>
                價錢
            </th>
            <th>
                小計
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            decimal? pay = 0;
            foreach (var item in Model)
            {
             <input type="hidden" value="@item.ProductFid">
                pay += item.小計;
                <tr>
                    @* <td>
            @Html.DisplayFor(modelItem => item.Fid)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.OrdFid)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.ProductFid)
            </td>*@
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.product.HouseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Qty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.小計)
                    </td>
                    @* <td>
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
                </tr>
            }
        }

    </tbody>
</table>
<div>總共:@pay 元</div>
@Html.ActionLink("結帳","checkout")
