@model IEnumerable<prjhouse.Models.Order>

@{
    ViewData["Title"] = "looklist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>歷史訂單</h1>


<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.BussnisName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Itemfid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productcount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
           
            <td>
                @Html.DisplayFor(modelItem => item.BussnisName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Itemfid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Productprice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Productcount)
            </td>
            <td>
              
            </td>
        </tr>
}
    </tbody>
</table>
