@model IEnumerable<prjhouse.Models.Product>

@{
    ViewData["Title"] = "productlist";
}

<h1>productlist</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseAddressArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseAddressCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HousePrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HouseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HouseAddressArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HouseAddressCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HousePrice)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
