@model IEnumerable<prjhouse.Models.Product>

@{
    ViewData["Title"] = "productlist";
}
@section style{
    <link rel="stylesheet" href="~/css/productlist.css">
}
<h1>房屋一覽表</h1>

<p>
    <a asp-controller="busniss" asp-action="create">新增房屋</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                序
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Housephoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseAddressArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseAddressCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HousePrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                <tr class="trclass">
                    <td>
                        @count
                    </td>
                    <td>
                        <img class="showphoto" src='~/images/@item.Housephoto' />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HouseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HouseAddressArea)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HouseAddressCity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HousePrice)
                    </td>
                    <td>
                        @Html.ActionLink("編輯","edit", new {  id=item.Fid }) |
                        @Html.ActionLink("Details","addcaritem", new {id=item.Fid }) |
                        @Html.ActionLink("刪除","delete", new { id=item.Fid })
                    </td>
                </tr>
                count++;
            }

        }
    </tbody>
</table>
